.form {
  margin: 10px auto 30px;
}

.form input {
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: border .4s ease;
  border: 2px solid transparent;
  margin: 10px;
}

.form input:focus{
  border: 2px solid aqua;
}